<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Fantasy Stats{% endblock %}</title>

      <link href="static/css/reset.css" media="screen" rel="stylesheet" type="text/css" />  
      <link href="static/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />  
      <link href="static/css/jquery.dynatable.css" media="screen" rel="stylesheet" type="text/css" />  

      <link href='static/css/Nunito.css' media="screen" rel="stylesheet" type="text/css" />
      <link href="static/css/OpenSans.css" media="screen" rel="stylesheet" type="text/css" />

      <script type="text/javascript" charset="utf-8" src="static/js/jquery.js"></script>
      <script type="text/javascript" charset="utf-8" src="static/js/jquery.dynatable.js"></script>
      <script type="text/javascript" charset="utf-8" src="static/js/bootstrap.js"></script>

      <style>
         .top-buffer { margin-bottom: 30px; }

         html {
            height: 100%;
         }
         body {
            //margin-top: 60px;
            height: 100%;
         }

         #wrap {
            min-height: 100%;
            height: auto !important;
            margin: 0 auto -40px;
         }

         #push,
         #footer {
            height: 40px;
         }
         #footer {
            background-color: #f5f5f5;
         }

         #wrap > .container {
            padding-top: 60px;
         }

      </style>

   </head>

   <body>

      <div id="wrap">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="toc.html">Home</a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
               {% for k in allPages recursive %}
                  {% if title == k['title'] %}
                     <li class="active"><a href="{{k['href']}}">{{k['title']}}</a></li>
                  {% else %}
                     <li><a href="{{k['href']}}">{{k['title']}}</a></li>
                  {% endif %}

               {% endfor %}
            </ul>
         </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
      </nav>

      <div class="container">
         <div id="content">
            {% block content %}
            {% endblock %}
         </div> <!-- /.content -->
      </div><!-- /.container -->
      <div id="push"></div>
      </div>

      <div id="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-2">
                  <span id="email"></span>
                  <script>
                     var parts = ["dwwkelly", "fastmail", "fm", "&#46;", "&#64;"];
                     var email = parts[0] + parts[4] + parts[1] + parts[3] + parts[2];
                     document.getElementById("email").innerHTML=email;
                  </script>
               </div>
               <div class="col-md-8">
               </div>
               <div class="col-md-2">
                  <a href="https://devin-industries.com">devin-industries.com</a>
               </div>
            </div>
         </div>
      </div>

   </body>
</html>
