
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
   {{ super() }}
{% endblock %}

{% block content %}
      <!-- pos template -->
      {% for k, v in fantasy_table.iteritems() %}
         {{ v }}
      {% endfor %}


      {% for k, v in fantasy_table.iteritems() %}
         <div class="dynatable-demo">
            <script type="text/javascript" charset="utf-8">
               $('#{{ k }}').dynatable({
                  features: {
                     paginate: true,
                     search: true,
                     recordCount: false
                  },
                  readers: {
                     'value': function(el, record) {
                        return Number(el.innerHTML.replace(/,/g, ''));
                     }
                  },
                  writers: {
                     'value': function(record) {
                        return record.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                     }
                  }
               });
            </script>
         </div>
      {% endfor %}

{% endblock %}
